<div class=' text-white bg-black mb-5 py-5 px-5 border border-info shadow-lg p-3 mb-5 bg-black rounded'>
  <h1 class=''>Set up your New Account For Sparrow!</h1>

  <%= render partial: 'form', locals: { user: @user } %>
</div>