The details for your profile are here

<div class='mb-3 mt-4'>
  <% if current_user.image.attached? %>
    <%= image_tag current_user.image, class: "img-fluid img-avatar" %>
  <% end %>

  <h1>Name is: <%= current_user.name %></h1>
  <h1>Email is: <%= current_user.email %> </h1>
</div>