 
<div class='text-black bg-white mb-5 py-5 px-5  border border-dark border-2 shadow-lg p-3 mb-5 bg-black rounded text-center'>
  <h1>Edit Posts</h1>
  <%= render partial: 'form', locals: { post: @post } %>
</div>
