
<h1 class="fs-1 text-center shadow-lg p-3 mb-6 bg-body rounded text-dark fw-bold">Welcome to SPARROW</h1>
<br>
<br>
<% if @posts.any? %>
  <%# <%= render @posts %> 
  <%= render partial: "post", collection: @posts %>
<% else %>
  <p>No posts to display message</p>
<% end %>
<br>
<br>
<br>
<br> 
<div class='mb-3 text-center'>
<%= button_to "Create Post", '/posts/new', method: :get, class: 'btn btn-outline-dark' %>
</div>