
<h1>Hello and Welcome</h1>
<% if @posts.any? %>
  <%# <%= render @posts %> 
  <%= render partial: "post", collection: @posts %>
<% else %>
  <p>No posts to display message</p>
<% end %>
<br>
<br>
<br>
<br>
<%= button_to "Create Post", '/posts/new', method: :get %>